<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SAsuite">
  <test name="Testsa">
    <classes>
      <class name="com.erp.master.execng"/>
      <class name="com.erp.master.catng"/>
     
    </classes>
  </test> <!-- Testsa -->
</suite> <!-- SAsuite -->
